<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Student Financial Assistancet</title>

<style>

#commentsection input[type='text'],
#commentsection input[type='email'],
#commentsection textarea {
  display: block;
  width: 75%;
} 

body{
  background-color:gray;

}

</style>


</head>

<body>
    <div id="commentsection">
        <h1>Online Student Financial Assistance</h1>
       
        <form method="POST" id="commentform" action="JAList/new">
      
          <label for="name" class="required">Your Name</label>
          <input type="text" name="name" id="name" value="" tabindex="1" placeholder="Input your name" required="required">
      
          <label for="school" class="required">Your School:</label>
          <input type="text" name="school" id="school" value="" tabindex="2" placeholder="Input your school" required="required">
      
          <br>
          <input name="submit" type="submit" id='submit' value="Submit comment" /><br>
          

          {% csrf_token %}
        </form>
      
      </div>

  <!--     <table id="list">
  
            <tr>
            <td>1:{{new_author}}</td>
            <td></td>
            <td>:{{new_email}}</td>
            <td>:{{new_comment}}</td>
            </tr>
            
      </table>      

      <table id='list'>

            {% for item in newPerson %}
            <tr>
            <td>{{ forloop.counter }}:{{ item.text }}</td>
            </tr>
            {% endfor %}

      </table>
 -->
      <!-- <div>
        <table id="list">
            {% for item in newPerson %}
            <tr>
            <td>:{{ item.text }}</td>
            </tr>
            {% endfor %}

          <tr>
wala na to v
          <td>1:{{newPerson}}</td>
            <td>in</td>
            <td>{{newPlace}}</td>
          </tr>

          <tr>
            <td>1:{{newPerson}}</td>
            <td>in</td>
            <td>{{newPlace}}</td>
          </tr>

        </table>
      </div> -->
    
</body>



</html>

