<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate</title>

<style>
  

body{
  background-color:gray;

}

</style>


</head>

<body>
    <div id="ratesection">

        <h2>Web Dev 1 Comment </h2>
        <h3>Rate </h3>
      
        <h3>Good</h3><br> 
        <h3>Neurtral</h3><br>
        <h3>Bad</h3><br>
        
      </div>

      <div id="wanttalk">

        <h3>This section is a list of person want to talk to you</h3>

      </div>

</body>
</html>